<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>42.97362788280671</real>
		<key>lon</key>
		<real>47.51057652996723</real>
		<key>ssid</key>
		<string>azbar</string>
		<key>password</key>
		<string>11223344</string>
		<key>place</key>
		<string>Азбар</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.986793</real>
		<key>lon</key>
		<real>47.472848</real>
		<key>ssid</key>
		<string>dlink</string>
		<key>password</key>
		<string>12345</string>
		<key>place</key>
		<string>ДГИНХ</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.957933</real>
		<key>lon</key>
		<real>47.50555</real>
		<key>ssid</key>
		<string>azbar</string>
		<key>password</key>
		<string>123123123</string>
		<key>place</key>
		<string>Азбар</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.976667</real>
		<key>lon</key>
		<real>47.51438</real>
		<key>ssid</key>
		<string>mega sport</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>Мега Спорт</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.985396</real>
		<key>lon</key>
		<real>47.474525</real>
		<key>ssid</key>
		<string>Snack Master</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>Snack Master</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.984535</real>
		<key>lon</key>
		<real>47.474155</real>
		<key>ssid</key>
		<string>azbar</string>
		<key>password</key>
		<string>123123123</string>
		<key>place</key>
		<string>Азбар</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.984105</real>
		<key>lon</key>
		<real>47.474901</real>
		<key>ssid</key>
		<string>pascucci</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>Pascucci</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.980037</real>
		<key>lon</key>
		<real>47.517063</real>
		<key>ssid</key>
		<string>EL&apos;GUSTO</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>EL&apos;GUSTO</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.983988</real>
		<key>lon</key>
		<real>47.495167</real>
		<key>ssid</key>
		<string>assorti</string>
		<key>password</key>
		<string>25011972</string>
		<key>place</key>
		<string>ASSORTI</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.984017</real>
		<key>lon</key>
		<real>47.471381</real>
		<key>ssid</key>
		<string>Xizhina</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>ХИЖИНА</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.986867</real>
		<key>lon</key>
		<real>47.472947</real>
		<key>ssid</key>
		<string>ASUS_45</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>ДГИНХ</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>42.98676</real>
		<key>lon</key>
		<real>47.472803</real>
		<key>ssid</key>
		<string>ASUS_38</string>
		<key>password</key>
		<string></string>
		<key>place</key>
		<string>ДГИНХ</string>
	</dict>
</array>
</plist>
